/* Empty. Add your own CSS if you like */
#footer{
	padding-bottom: 45px;

}

#header{
	background-color: orange;
}
#up{
	position:fixed;
	padding-top: 200px;
}
.scroll-content{
    background-image: url("images/vegetable.jpg");
}
#down{
	position: fixed;
	padding-top: 300px;
	float:both;
}
