/* Empty. Add your own CSS if you like */
#footer{
	padding-bottom:50px;
	font-family: Papyrus;
}

#header{
	background-color: orange;
}
#up{
	position:fixed;
	padding-top: 260px;
}
.scroll-content{
    background-image: url("images/food.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

#menuHead{
	font-family: Vivaldi;
	font-size: 30px;
	height: 50px;
}
#Head{
	font-family:papyrus;
	
}
.list{
	font-family:papyrus;
	text-align: center;
	font-weight: bold;
}
.button{
	font-family: Papyrus;
	font-size:25px;
	font-weight: normal;
}
#icon{
	position: absolute;
	top:150px;	
    left: 50%;
    -webkit-transform: translate( -50%);
    transform: translate( -50%);
}
#update{
	padding-top: 3px;
}
i{
	font-family: Papyrus;
	font-size: 20px;
}
#appName{
	font-family: Papyrus;
	text-align: center;
	padding-top: 90px;
	font-size: 50px;
	color: white;
	text-shadow: 2px 2px orange;
}
#motto{
	padding-top: 200px;
	text-align: center;
	font-family: rage;
	font-size: 20px;
	color: white;
	text-shadow: 2px 2px #2C3539;
}
h3,h4{
	color: white;
	text-align: center;
	text-shadow:2px 3px black;
}
