/* Empty. Add your own CSS if you like */
#footer{
	padding-bottom: 45px;

}

#header{
	background-color: orange;
}
#up{
	position:fixed;
	padding-top: 200px;
}
.scroll-content{
    background-image: url("images/vegetable.jpg");
}
#down{
	position: fixed;
	padding-top: 300px;
	float:both;
}
#menuHead{
	font-family: Informal Roman;
	font-size: 50px;
	height: 50px;
}
#Head{
	font-family: Forte;
	font-size: 100%;
}
.list{
	font-family: comic sans ms;
	text-align: center;
}
.button{
	font-family: Informal Roman;
	font-size:30px;
}
#icon{
	position: absolute;
	top:50px;	
    left: 50%;
    -webkit-transform: translate( -50%);
    transform: translate( -50%);
}