<ion-view title="MarketBuddy">
    <ion-content>
    <div>
      <p id="appName">MarketBuddy</p>
      <p id="motto">Shopping lists at your Fingertips!</p>
      </div>
      <div>
      <img id="icon" src="images\ionic.png">
      </div>
        <ion-list>
        <ul class="list list-inset">
  		<li>
            <ion-item ng-repeat="category in categories" href="#/lists/{{category.id}}">
              {{category.category_name}}
            </ion-item>
           </li>
          <!--  <li>
            <ion-item href='#/report'>
            Lists Report
            </ion-item>
          </li> -->
           <li>            
        	<ion-item href='#/about'>
        		About App
        	</ion-item>
        	</li>          
        	</ul>
        </ion-list>
    </ion-content>
</ion-view>