<div class="bar">
<ion-view view-title="">
  <ion-nav-buttons side="left">
     <img  menu-toggle="left" ng-click="back" style="width:37px" src="\images\ionic.png">
  </ion-nav-buttons>
</ion-view>
</div>
    <ion-content id="view">
      <div>
      <p id="appName">MarketBuddy</p>
      <p id="motto">Shopping lists at your Fingertips!</p>
      </div>
      <div>
      <img id="icon" src="images\ionic.png">
      </div>
      <div>
        
      <div id="up" class='row'>
      <div class='col'>
        <a class="button button-block button-assertive" href="#/app/lists">Shopping Lists
        </a>
      </div>      
    </div>
    </div>
     
    </ion-content>
