<div class="bar">
<ion-view view-title="MarketBuddy">
  <ion-nav-buttons side="left">
     <button menu-toggle="left" class="button button-icon icon ion-ios7-navigate-outline"></button>
  </ion-nav-buttons>
</ion-view>
</div>
    <ion-content id="view">
    
     <div id="down" class='row'>
      <div class='col'>
        <a class="button button-block button-royal" href="#/app/browse">Notes</a>
      </div>      
    </div>
    </div>
      <div id="up" class='row'>
      <div class='col'>
        <a class="button button-block button-royal" href="#/app/lists">Shopping Lists</a>
      </div>      
    </div>
    </div>
     
    </ion-content>
