 <!-- header of item view -->

<ion-view title="Items">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" ng-click="back" class="button button-icon icon ion-ios7-navigate-outline"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-compose" ng-click="showPopup()"></button>
  </ion-nav-buttons>  
  <!-- contents -->
    <ion-content class="has-header">
    <div id="itView">
  <!-- <ion-item class="item-icon-right"> -->
  <ul class="list list-inset">

    <li class="item item-checkbox item-icon-right">
      <label class="checkbox">
       <input type="checkbox" ng-model="item.isChecked">
     </label>
     Mee<button class="button button-icon icon ion-ios7-close-outline" ng-click="remItem($index)"></button></li>
  
  <li class="item item-checkbox item-icon-right">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Flux Capacitor<button class="button button-icon icon ion-ios7-close-outline icon-right" ng-click="remItem($index)"></button>
  </li>
<li class="item item-checkbox item-icon-right">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     1.21 Gigawatt<button class="button button-icon icon ion-ios7-close-outline icon-right" ng-click="remItem($index)"></button>
  </li>
 <li class="item item-checkbox item-icon-right">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     1.21 Gigawatt<button class="button button-icon icon ion-ios7-close-outline icon-right" ng-click="remItem($index)"></button>
  </li>
  <li class="item item-checkbox item-icon-right">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     1.21 Gigawatt<button class="button button-icon icon ion-ios7-close-outline icon-right" ng-click="remItem($index)"></button>
  </li>
  <li class="item item-checkbox item-icon-right">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     1.21 Gigawatt<button class="button button-icon icon ion-ios7-close-outline icon-right" ng-click="remItem($index)"></button>
  </li>
  <li class="item item-checkbox item-icon-right">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     1.21 Gigawatt<button class="button button-icon icon ion-ios7-close-outline icon-right" ng-click="remItem($index)"></button>
  </li>
  <li class="item item-checkbox item-icon-right">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     1.21 Gigawatt<button class="button button-icon icon ion-ios7-close-outline icon-right" ng-click="remItem($index)"></button>
  </li>
  <li class="item item-checkbox item-icon-right">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     1.21 Gigawatt<button class="button button-icon icon ion-ios7-close-outline icon-right" ng-click="remItem($index)"></button>
  </li>
  <li class="item item-checkbox item-icon-right">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     1.21 Gig<button class="button button-icon icon ion-ios7-close-outline icon-right" ng-click="remItem($index)"></button>
  </li>
</ul>

</div>

  </ion-content>
  
</ion-view>
<!-- footer -->
<ion-footer-bar align-title="left" class="bar-assertive">
  <div class="title" id="update">
  <div class="buttons" ng-click="updateItems(items)">
    <button id="update" style="font-size: 25px;" class="button button-balanced">Update List</button>
  </div>
  </div>
  
</ion-footer-bar>
