<!-- header -->
<ion-view title="Items">    
    <ion-nav-buttons side="right">
        <button class="right button button-icon icon ion-plus" ng-click="insert()"></button>
    </ion-nav-buttons>
    <!-- contents -->
    <ion-content>
        
        <ion-list show-delete="shouldShowDelete">
        <ul class="list list-inset">
        
        <li>
            <ion-item ng-repeat="item in items">
            
                {{item.todo_list_item_name}}
                
                <ion-delete-button class="ion-minus-circled"ng-click="delete(item)"></ion-delete-button>                 
                <ion-option-button class="button-info button-balanced ion-checkmark-circled" ng-click="purchased(item)">
                </ion-option-button>
            </ion-item>
            </li>
            </ul>

            
        </ion-list>
    </ion-content>

    <!-- footer -->
<ion-footer-bar align-title="left" class="bar-assertive" id="footer">
     <ion-toggle class="bar bar-header bar-assertive" ng-model="shouldShowDelete">
  Delete List
</ion-toggle>
</ion-footer-bar>
</ion-view>