  <!-- header of shoppinglist view -->
<ion-view view-title="Shopping Lists">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-ios7-navigate-outline"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios7-plus-empty" ng-click="showPopup()"></button>
  </ion-nav-buttons>
  <!-- contents -->
  <ion-content class="has-header" class="list list-inset">
    <div id="itView">
    <div class="list list-inset">
      <label class="bar-header item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="text" placeholder="Filter by name..." ng-model="searchText">
      </label>
    </div>
    <ion-list show-delete="shouldShowDelete" class="list list-inset">
        <ion-item class="item-icon-right" href="#/app/items">
        <ion-delete-button class="ion-minus-circled"></ion-delete-button>
          Hello, list (Test)!<i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-right">
        <ion-delete-button class="ion-minus-circled"></ion-delete-button>
          Another Entry!<i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
    </ion-list>
    </div>
  </ion-content>
</ion-view>
<!-- footer -->
 <div id="footer"class="bar bar-footer bar-assertive">
     <ion-toggle class="bar bar-header bar-assertive" ng-model="shouldShowDelete">
  Delete List
</ion-toggle>
</div>
